

/* Admin CSS */
.view {
    display: none;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;

}
.list {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px 0   ;
}
.fb-text,
.v-text {
    font-size: 13px;
}
.resolve-btn {
    border-radius: 50%;
}
.resolve-btn,
.fb-delete-btn   {
    height: 28px;
    font-size: 13px;
    color: #89aadb;
    border:none;
    background: transparent;
    box-shadow: none;
}
.resolve-btn:hover,
.resolve-btn:active,
.resolve-btn:focus {
    color: #20d693;
    border: none;
    background: transparent;
}

.fb-delete-btn:hover,
.fb-delete-btn:active,
.fb-delete-btn:focus {
    color: #20d693;
    border: none;
    background: transparent;
    box-shadow:  3px 3px 6px #2d3d74,
        -3px -3px 6px #3d539e;
}

.admin-venues {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
}
.venue-item,
.feedback-item {
    border-top: 1px solid white;
}
.venue-item:first-child,
.feedback-item:first-child {
    border-top: none;
}
.delete-btn {
    height: 28px;
    background: #d45454;
    color: white;
    border: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 13px;
    box-shadow:none;
}


/* BREAKPOINTS */

@media screen and (min-width:1200px) {
    .fb-text,
    .v-text {
        font-size: 16px;
    }
} 

