* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("https://i.ibb.co/FnNtNLs/las-vegas2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    font-family: 'RaleWay', sans-serif;
    color: #89aadb;

    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
header {
    width: 100%;
    margin-bottom: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

div > ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: transparent; 
}
.logo {
    width: 150px;
    height: 100px;
}

ul > li {
    padding: 10px;
    margin: 10px 20px;
    border: 2px double #20d693;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #2d3d74,
        -5px -5px 10px #3d539e;
}

ul > li:hover,
ul > li:active,
ul > li:focus {
    background: #20d693;
    cursor: pointer;
    box-shadow:  inset 5px 5px 10px #2d3d74,
        -5px -5px 10px #3d539e;
}
li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    
}
li a:hover,
li a:active,
li a:focus {
    color: #3d539e;
    font-weight: bold;
    text-decoration: none;
}

section {
    font-weight: bold;
    text-shadow: 5px 5px 3px #3d539e;
}
h1 {
    margin: 0;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px #89aadb;
}
h2,
h3 {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px 2px #89aadb;
}

section > div {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
}
form {
    width: 100%;
    display: flex;
    /* padding: 25px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

input {
    height: 35px;
    /* width: 75%; */
    margin-bottom: 30px;
    padding: 5px 8px;

    font-size: 18px;
    font-weight: bold;
    color: #3d539e;

    border: 3px double #20d693;
    border-radius: 8px;
    background: #a6d7c5;
    box-shadow: inset;
    box-shadow: inset 9px 9px 18px #8db7a7,
            inset -9px -9px 18px #bff7e3;
}

::placeholder {
    color: #3d539e;
}
input:hover,
input:focus,
input:active {
    outline: none;
    border: 2px solid #20d693;
    box-shadow: inset 9px 9px 18px #8db7a7,
            inset -9px -9px 18px #bff7e3;
	outline: none;
}
button,
.close {
    height: 35px;
    border: 2px double #3d539e;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #3d539e;
    background: linear-gradient(145deg, #b2e6d3, #95c2b1);
    box-shadow:  3px 3px 6px #2d3d74,
        -3px -3px 6px #3d539e;
}

button:hover,
button:focus,
button:active {
    border: 2px double #20d693;
    background: transparent;
    color: #20d693;
    cursor: pointer;
    box-shadow: inset 3px 3px 6px #2d3d74,
        -3px -3px 6px #3d539e;
}

p {
    /* font-size: 16px;
    font-weight: bold; */
    /* color: #20d693; */
    /* text-shadow: 1px 1px 1px #3d539e; */
    text-align: Left;
}


.card {
    background: rgba(0, 0, 0, 0.8);
}
.card-img {
    box-shadow: inset 2px 2px 10px #2d3d74,
        -2px -2px 10px #3d539e;
}

.likes-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0 5px;
    background-color: none;
    
}

.like-btn {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.fa {
    color: #d45454;
    padding-top: 5px;
    font-size: 20px;
    margin: 0;
}
.likes-count {
    margin-top: 0px;
}

.comments-section {
    width: 100%;
    border-top: 2px solid #20d693;
}

.add-venue {
    background:rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}